@model Armario

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
	<h4>Armario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontoX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontoX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontoY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontoY)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="ArmariosAdm" class="btn btn-secondary">Voltar à Lista</a>
</div>
